.tabs .indicator {
	background-color: #000;
}

.display-front {
	z-index: 999;
}

.hero-container {
	background-image:url('./img/bg6.jpg');
}

.section-head {
	margin-top: 30px;
}

.section-hero {
	font-size: 32px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 5px;
}

.section-desc {
	text-align: center;
	color: #999;
	margin-bottom: 30px;
}

.card-head {
	font-weight: 900;
	text-align: center;
}

.activity-icon {
	position: absolute;	
	margin-left: -moz-calc(50% - 30px);
	margin-left: -webkit-calc(50% - 30px);
	margin-left: -o-calc(50% - 30px);
	margin-left: calc(50% - 30px);
	margin-right: -moz-calc(50% - 30px);
	margin-right: -webkit-calc(50% - 30px);
	margin-right: -o-calc(50% - 30px);
	margin-right: calc(50% - 30px);
	right: 0 !important;
	box-shadow: 0;
	border: 5px solid white;
	box-sizing: content-box;
	width: 50px;
	height: 50px;
	line-height: 50px !important;
	top: -30px !important;
}

.no-shadow {
	box-shadow: none;
}

.card-content2 {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	height: 200px;
	padding-top: 30px;
}

.custom-icon {
	line-height: 50px !important;
	font-size: 2.0rem !important;
}

.carousel .carousel-item{
	opacity:1 !important;
}

/*Animated gradient text
*/

.text-gradient {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight:  100;
	color: #e9ed2d;
	background-image: -webkit-linear-gradient(92deg, #e9ed2d, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.member-card {
	margin: 10px;
	border: none;
	box-shadow: none !important;
}

.member-name {
	font-size: 22px;
}

.member-desc {
	font-size: 16px;
	color: #c40000;
}

.member-image {
	min-height: 200px;
	width: 100%;
	background-position: center;
	background-size:cover;
}

.member-content {
	padding-top: 10px !important;
}

.faculty-card {
	min-height: 200px;
	height: 200px;
	padding: 0 !important;
}

.card-arrow {
	width: 0; 
	height: 0; 
	float: right;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #c40000; 
	right: -15px;
	margin-top: 30px;
	box-sizing: content-box;
}

.card-desc {
	background-color: #c40000;
	color: white !important;
}

.margin-cut {
	margin-bottom: 0 !important;
	margin-top: 30px !important;
	font-size: 18px;
}

.top-margin {
	margin-top: 25%;
}

.acm-f1 {
	background-image: url('../img/team/sheik.jpg');
}

.acm-f2 {
	background-image: url('../img/team/suganya.jpg');
}


